{% load static %}

<!-- Navigation -->

        <!-- Logo image: a link to index/home page -->
        <a id="logo" href="{% url 'home-page' %}">
          <img id="logo-img" src="{% static 'images/logo.png' %}" alt="logo" />
        </a>

        <nav>
            {% if profile %}
            	
          <!-- If there is an author's profile -->
          <div class="user">
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'post-create' %}">New Post</a>
            <a href="{% url 'author_details' %}">Author's Profile</a>
          </div>
            {% else %}
          <!-- If author's profile has NOT been created -->
          <div class="guest">
            <a href="{% url 'author-create' %}">Create Author's Profile</a>
          </div>
            {% endif %} 
            
        </nav>