header, footer {
    /*padding: 15px;*/
    background-color: #f2dcbb;

}
main{

}
header, footer, main{
    width: 480px;
    margin: auto;
    padding: 5px 15px;

}

body {
    padding: 15px;
    background-color:#f9f7cf;
}