{%  extends 'common/base.html' %}
{% load static %}

{% block main_content %}
	<main>

        <!-- Dashboard Page -->
        <h2>Fruits</h2>
    {% if object_list %}
    	
        <section id="dashboard">
            <!-- Display a div "fruit" with information about each post (if any)-->
            {% for fruit in object_list %}
                
            <!-- first fruit -->
            <div class="fruit">
                <!-- fruit image -->
                <img src="{{ fruit.image_url }}" alt="{{ fruit.name }}"/>
                <!-- fruit name -->
                <h3 class="title">{{ fruit.name }}</h3>
                <!-- fruit description -->
                <p class="description">{{ fruit.description|truncatechars:50 }}</p>
                <!-- fruit details button -->
                <a class="details-btn" href="{% url 'details_fruit' fruit.pk %}">More Info</a>
            </div>
            {% endfor %}
        

        </section>
    {% else %}
        <!-- Display a heading if there are no posts -->
        <h2>No fruit info yet.</h2>
    {% endif %} 
    

    </main>
{% endblock %}