{% extends 'common/base.html' %}

{% block main_content %}
	<main>
        <!-- Add Post Form -->
        <section id="create">
          <div class="form">
            <h2>New Post</h2>

            <form class="create-form" action="" method="post">
                {% csrf_token %}
                {{ form.as_div }}
              

              <!-- form button -->
              <button type="submit">Publish</button>
            </form>
          </div>
        </section>
      </main>
{% endblock %}