{%  extends 'base.html' %}
{% load static %}
{% block main_content %}
	<div class="container">
        <div class="col-9">

            <!-- Start Pet Photo Post Section -->
            <div class="card">
                <div class="top">

                    <!-- Start User Details and Image Location Section -->
                    <div class="userDetails">

                        <!-- Link to User Profile Details Page-->
                        <a href="#">
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        <img src="{% static 'images/person.png' %}" alt="img8">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h3>

                            <!-- Link to User Profile Details Page -->
                            <a href="#">
                                <!-- IF user has first name and last name -->
                                Diyan Kalaydzhiev
                                <!-- else -->
                                <!-- show user username -->
                            </a>
                            <br>

                            <!-- IF the photo has location -->
                            {% if photo.location %}
                                <span>{{ photo.location}}</span>
                            {% endif %}

                            <!-- IF the viewer is the creator of the photo -->
                            <div class="edit-delete-btns">

                                <!-- Link to Edit Pet Photo Page -->
                                <a href="{%  url 'photo_edit_page' photo.pk %}">
                                    <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}"
                                         alt="edit button">
                                </a>

                                <!-- Link to Delete Pet Photo Page -->
                                <a href="{% url "photo_delete_page" photo.pk %}">
                                    <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                                </a>
                            </div>
                            <!-- End IF the viewer is the creator of the photo -->

                        </h3>
                    </div>
                    <!-- End User Details and Image Location Section -->

                </div>

                <!-- Start Pet Photo -->
                <div class="imgBx" id="{{ photo.pk }}">
                    <!-- Pet Photo -->
                    <img src="{{ photo.photo.url }}" alt="post" class="cover">
                </div>
                <!-- End Pet Photo -->

                <div class="bottom">

                    <!-- Start Like and Share Buttons Section -->
                    <div class="actionBtns">
                        <div class="left">

                            <!-- Start Like Button -->
                            <span class="heart">

                                    <!-- Link to Like Path -->
                                    <a href="{% url 'like' photo.pk %}">
                                        <!-- if user has liked the photo -->
                                        {%  if likes %}
                                            <i class="fa-solid fa-heart" style="color: #ed4040;"></i>
                                        {% else %}
                                            <!-- else -->
                                            <i class="fa-regular fa-heart"></i>
                                        {% endif %}
                                    </a>
                            </span>
                            <!-- End Like Button -->

                            <!-- Start Share  Button -->

                            <!-- Link to Share Path -->
                            <a href="{% url 'share' photo.pk %}">
                                <i class="fa-solid fa-share"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End Like and Share Buttons Section -->

                    <!-- Number of Likes for the Photo -->
                    <p class="likes">{{ likes }} likes</p>

                    <!-- Start Tagged Pets Section-->
                    <!-- Link to First Tagged Pet Details Page -->
                    {% for pet in photo.tagged_pets.all %}
                        {% include 'pets/pet-tag.html' with name=pet.name pet_slug=pet.slug %}
                    {% endfor %}
                    <!-- Photo description -->
                    <p class="pet-details">{{ photo.description }}</p>

                    <!-- Date of Publication or edit of the Photo -->
                    <h5 class="postTime">{{ photo.date_of_publication|date:'d/m/y' }}</h5>

                    <!-- Start Comments Section -->
{#                    <div class="comments">#}
{#                        <div class="top">#}
                            {% for comment in comments %}
                                {% include 'common/comment-tag.html' with user_names="Some One" comment=comment.comment_text publication_time=comment.date_and_time_of_publication %}
                            {% endfor %}
{#                        </div>#}
{#                    </div>#}
                    <!-- End Comments Section -->
                </div>

                <!-- Start Add Comments Section -->
                <div class="addComments">

                    <!-- Start Add Comments Form -->
                    <form method="post" action="#">
                        <label for="id_body">Body:</label>
                        <textarea name="body" cols="40" rows="10" placeholder="Add comment..." maxlength="300"
                                  required="" id="id_body"></textarea>
                        <!-- Post Comments Button -->
                        <button type="submit">Post</button>
                    </form>
                    <!-- End Add Comments Form -->

                </div>
                <!-- End Add Comments Section -->

            </div>
            <!-- End Pet Photo Post Section -->

        </div>
    </div>

{% endblock %}