{% extends 'common/base.html' %}

{% block main_content %}
	<main>
        <!-- Edit Author's Profile Form -->

        <section id="register">
          <div class="form">
            <h2>Edit Author's Profile</h2>

            <form class="register-form" method="post" action="">
                {% csrf_token %}
                {{ form.as_div }}
              
              <!-- form button -->
              <button type="submit">Edit</button>
            </form>
          </div>
        </section>
      </main>
{% endblock %}